<!doctype html>
<html>
<head>
  <title>My Chatbots</title>
  <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='bots.css') }}"
    />
</head>
<body>
{% block content %}
{% include 'header.html' %}
<div class="container">
    <table class="bot-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Context</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for bot in chatbots %}
            <tr>
                <td>{{ bot.id }}</td>
                <td>{{ bot.context }}</td>
                <td>
                    <a href="{{ url_for('chat_with_bot', bot_id=bot.id) }}" class="btn btn-primary">Chat</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="button-and-image">
<a href=/create-new-bot><button class="button-29" role="button">Create a new bot!</button></a>
</div>
</body>
{% endblock %}
