<!doctype html>
<html>
<head>
  <title>Create a new bot</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='questions.css') }}"
    />
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='create_chatbot.css') }}"
  />
<body>
  {% block content %}
{% include 'header.html' %}
<div id="createChatbot">
  <form id="chatbotCreationForm" method="post" enctype="multipart/form-data">
      <div class="form-row">  <!-- Flex container -->
          <div class="form-group flex-item">
              <label for="chatbotName">Chatbot/Company Name:</label>
              <input type="text" class="form-control" id="chatbotName" name="chatbotName" value="ChatBot">
          </div>
        
          <div class="form-group flex-item">
              <label for="cardBgColor">Card Background Color:</label>
              <input type="color" class="form-control" id="cardBgColor" name="cardBgColor" value="#FFFFF">
          </div>
          
          <div class="form-group flex-item">
              <label for="avatar">Chatbot Avatar:</label>
              <input type="file" class="form-control-file" id="avatar" name="avatar" accept="image/*" onchange="previewAvatar(this);">
              <img id="avatarPreview" src="#" alt="Avatar Preview" style="max-width: 100px; max-height: 100px; display: none;">
          </div>
      </div>


      <iframe id="chatPreview" src="/chat_preview" style="width: 100%; height: 500px; border: none;"></iframe>

      <button type="submit" class="btn button-3">Save Changes</button>
    </form>
</div>


    <div id="questionsModal" style="display:none;">
      <body>
        <!-- Modal for Initial Questions -->
        <div class="modal" tabindex="-1" role="dialog" id="initialQuestionsModal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">
                  Welcome! Let's Customize Your Experience
                </h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!-- Question 1 -->
                <div class="question" id="question1">
                  <div class="form-group">
                    <label for="companyName">Company Name:</label>
                    <input type="text" class="form-control" id="companyName" required>
                    <label for="companyDescription">Company Description:</label>
                    <textarea class="form-control" id="companyDescription" required></textarea>
                    <label for="productsServices">Products & Services:</label>
                    <textarea class="form-control" id="productsServices" required></textarea>
                    <label for="customerDescription">Customer Description:</label>
                    <textarea class="form-control" id="customerDescription" required></textarea>
                    <button type="button" class="btn btn-primary next-btn">Next</button>
                  </div>
                </div>
                <!-- Question 2 -->
                <div class="question" id="question2" style="display: none">
                  <div class="form-group">
                      <label for="chatbot_intro_name">What name do you want your chatbot to introduce itself with?:</label>
                      <input type="text" class="form-control" id="chatbot_intro_name" required>
                      <label for="greetingPhrase">Greeting Phrase:</label>
                      <textarea class="form-control" id="greetingPhrase" required></textarea>
                      <button type="button" class="btn btn-primary next-btn">Next</button>
                  </div>
              </div>
                <!-- Question 3 -->
                <div class="question" id="question4" style="display: none">
                  <div class="form-group">
                    <label for="ops">
                      <strong>Issue List</strong>
                      <br /><br />Please provide a list of common issues and how
                      they should be dealt with. For example, under the solution
                      column, you may put "Let customer know that username can be
                      changed in the user profile section in the app settings", or
                      "Escalate issue to support team". You can always add to this
                      list later.
                    </label>
                    <table class="table table-bordered" id="issuesTable">
                      <thead>
                        <tr>
                          <th>Problem</th>
                          <th>Solution</th>
                        </tr>
                      </thead>
                      <tbody contenteditable="true">
                        <tr>
                          <td><textarea
                            class="form-control"
                          ></textarea></td>
                          <td><textarea
                            class="form-control"
                          ></textarea></td>
                        </tr>
                      </tbody>
                    </table>
                    <button type="button" class="btn btn-primary" id="addRow">
                      Add an issue
                    </button>
                    <button type="button" class="btn btn-primary next-btn">
                      Next
                    </button>
                  </div>
                </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-primary"
                  id="submitQuestions"
                  style="display: none"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>

    </div>
    <script src="{{url_for('static', filename='questions.js')}}"></script>
    <script>
    $(document).ready(function() {
      $('#chatbotCreationForm').submit(function(event) {
          event.preventDefault();
          var formData = new FormData(this);
          $.ajax({
              type: "POST",
              url: "/submit-initial-config",
              data: formData,
              processData: false,
              contentType: false,
              success: function(response) {
                  console.log("Initial configuration saved temporarily.");
                  $('#createChatbot').hide();
                  $('#questionsModal').show();
              },
              error: function() {
                  console.error("Failed to save initial configuration.");
              }
          });
      });
  
      $('#toQuestions, #closeQuestions').click(function() {
          $('#questionsModal').toggle();
          $('#createChatbot').toggle();
      });
  
      $('#submitQuestions').click(function() {
          var issuesList = [];
          $("#issuesTable tbody tr").each(function() {
              var problem = $(this).find('textarea').first().val();
              var solution = $(this).find('textarea').last().val();
              if (problem && solution) {
                  issuesList.push({ problem: problem, solution: solution });
              }
          });
  
          var allData = {
            chatbot_intro_name: $("#chatbot_intro_name").val(),
            chatbot_name: $("#chatbotName").val(),
            company_name: $("#companyName").val(),
            company_description: $("#companyDescription").val(),
            products_services: $("#productsServices").val(),
            customer_description: $("#customerDescription").val(),
            greeting_phrase: $("#greetingPhrase").val(),
            issues: issuesList
          };
  
          $.ajax({
              type: "POST",
              url: "/create-new-bot",
              contentType: "application/json",
              data: JSON.stringify(allData),
              success: function(response) {
                  console.log("Chatbot created successfully.");
                  window.location.href = "/bots";
              },
              error: function() {
                  console.error("Failed to create chatbot.");
              }
          });
      });
  
      function updatePreview() {
          let iframe = document.getElementById('chatPreview').contentWindow.document;
          let chatbotName = $('#chatbotName').val();
          iframe.querySelector('#chatbotNameDisplay').textContent = chatbotName;
          iframe.querySelector('.card').style.backgroundColor = $('#cardBgColor').val();
          
          const avatarPreviewSrc = $('#avatarPreview').attr('src');
          if (avatarPreviewSrc) {
              iframe.querySelector('.user_img').src = avatarPreviewSrc;
              iframe.querySelector('.user_img_msg').src = avatarPreviewSrc;
          }
      }
      $('#chatbotName, #cardBgColor').change(updatePreview);
  
      $('#avatar').change(function() {
          let reader = new FileReader();
          reader.onload = function(e) {
              $('#avatarPreview').attr('src', e.target.result);
              updatePreview();
          };
          reader.readAsDataURL(this.files[0]);
      });
  
      $('#chatbotName').val('Support Bot');
      $('#cardBgColor').val('#0F2143');
      let defaultAvatar = 'https://i.ibb.co/nbjZnHd/chatbot.png';
      $('#avatarPreview').attr('src', defaultAvatar);
      updatePreview();
  });
  </script>
</body>      
{% endblock %}